<a href="https://colab.research.google.com/github/ted-liang-1/fin_data/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
url = "https://raw.githubusercontent.com/ted-liang-1/fin_data/refs/heads/main/%E5%96%AE%E5%AD%A3_%E7%B4%AF%E8%A8%88%E6%90%8D%E7%9B%8A%E8%A1%A8.csv"

In [ ]:
https://raw.githubusercontent.com/ted-liang-1/fin_data/refs/heads/main/%E5%96%AE%E5%AD%A3_%E7%B4%AF%E8%A8%88%E6%90%8D%E7%9B%8A%E8%A1%A8.csv

In [5]:
df = pd.read_csv(url, index_col=0)
print(df.head(5))

        Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5   Unnamed: 6  \
累計損益表
公司             年/月         季別    合併(Y/N)         月份         幣別       營業收入淨額
2353 宏碁    2023/12          4          Y         12        NTD  241,308,142
2357 華碩    2023/12          4          Y         12        NTD  482,314,429
NaN            NaN        NaN        NaN        NaN        NaN          NaN
單季損益表          NaN        NaN        NaN        NaN        NaN          NaN

          Unnamed: 7  Unnamed: 8      Unnamed: 9 Unnamed: 10  ... Unnamed: 44  \
累計損益表                                                         ...
公司              營業成本        營業毛利  聯屬公司已（未）實現銷貨利益     已實現銷貨毛利  ...        每股盈餘
2353 宏碁  215,484,917  25,823,225               0  25,823,225  ...        1.64
2357 華碩  409,920,293  72,394,136          10,604  72,404,740  ...       21.44
NaN              NaN         NaN             NaN         NaN  ...         NaN
單季損益表            NaN         NaN             NaN         NaN  ...         NaN

        Unnamed: 45 Unnamed: 46 Unnamed: 47 Unnamed: 48 Unnamed: 49  \
累計損益表
公司           加權平均股數     發放特別股股息      稀釋稅後淨利   每股盈餘－完全稀釋   加權平均股數－稀釋
2353 宏碁   3,001,145           0   4,931,944        1.64   3,013,657
2357 華碩     742,760           0  15,928,283       21.36     745,775
NaN             NaN         NaN         NaN         NaN         NaN
單季損益表           NaN         NaN         NaN         NaN         NaN

        Unnamed: 50 Unnamed: 51 Unnamed: 52 Unnamed: 53
累計損益表
公司           稅前息前淨利   稅前息前折舊前淨利     常續性稅後淨利         NaN
2353 宏碁   8,082,273   9,858,455   4,968,531         NaN
2357 華碩  22,786,629  25,558,012  17,059,389         NaN
NaN             NaN         NaN         NaN         NaN
單季損益表           NaN         NaN         NaN         NaN

[5 rows x 53 columns]

In [6]:
"https://raw.githubusercontent.com/ted-liang-1/fin_data/main/損益表.csv"

'https://raw.githubusercontent.com/ted-liang-1/fin_data/main/損益表.csv'

In [7]:
"https://raw.githubusercontent.com/ted-liang-1/fin_data/main/Income Statement.csv"

'https://raw.githubusercontent.com/ted-liang-1/fin_data/main/Income Statement.csv'

In [11]:
"https://raw.githubusercontent.com/fju155447/fin_data/main/2330.TW.csv"

'https://raw.githubusercontent.com/fju155447/fin_data/main/2330.TW.csv'

In [12]:
"https://raw.githubusercontent.com/ted-liang-1/fin_data/main/2330.TW.csv"

'https://raw.githubusercontent.com/ted-liang-1/fin_data/main/2330.TW.csv'

In [15]:
import pandas as pd
"https://raw.githubusercontent.com/fju155447/fin_data/main/2330.TW.csv"
df = pd.read_csv(url, index_col=0)
print(df.head(5))

        Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5   Unnamed: 6  \
累計損益表
公司             年/月         季別    合併(Y/N)         月份         幣別       營業收入淨額
2353 宏碁    2023/12          4          Y         12        NTD  241,308,142
2357 華碩    2023/12          4          Y         12        NTD  482,314,429
NaN            NaN        NaN        NaN        NaN        NaN          NaN
單季損益表          NaN        NaN        NaN        NaN        NaN          NaN

          Unnamed: 7  Unnamed: 8      Unnamed: 9 Unnamed: 10  ... Unnamed: 44  \
累計損益表                                                         ...
公司              營業成本        營業毛利  聯屬公司已（未）實現銷貨利益     已實現銷貨毛利  ...        每股盈餘
2353 宏碁  215,484,917  25,823,225               0  25,823,225  ...        1.64
2357 華碩  409,920,293  72,394,136          10,604  72,404,740  ...       21.44
NaN              NaN         NaN             NaN         NaN  ...         NaN
單季損益表            NaN         NaN             NaN         NaN  ...         NaN

        Unnamed: 45 Unnamed: 46 Unnamed: 47 Unnamed: 48 Unnamed: 49  \
累計損益表
公司           加權平均股數     發放特別股股息      稀釋稅後淨利   每股盈餘－完全稀釋   加權平均股數－稀釋
2353 宏碁   3,001,145           0   4,931,944        1.64   3,013,657
2357 華碩     742,760           0  15,928,283       21.36     745,775
NaN             NaN         NaN         NaN         NaN         NaN
單季損益表           NaN         NaN         NaN         NaN         NaN

        Unnamed: 50 Unnamed: 51 Unnamed: 52 Unnamed: 53
累計損益表
公司           稅前息前淨利   稅前息前折舊前淨利     常續性稅後淨利         NaN
2353 宏碁   8,082,273   9,858,455   4,968,531         NaN
2357 華碩  22,786,629  25,558,012  17,059,389         NaN
NaN             NaN         NaN         NaN         NaN
單季損益表           NaN         NaN         NaN         NaN

[5 rows x 53 columns]